<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-6.1</platform>
    <feature>restfulWS</feature>
    <feature>jsonb</feature>
    <feature>jsonp</feature>
    <feature>cdi</feature>
    <feature>mpRestClient</feature>
    <!-- tag::config[] -->
    <feature>mpConfig</feature>
    <!-- end::config[] -->
  </featureManager>

  <variable name="http.port" defaultValue="9080" />
  <variable name="https.port" defaultValue="9443" />

  <httpEndpoint host="*" httpPort="${http.port}"
    httpsPort="${https.port}" id="defaultHttpEndpoint" />

  <webApplication location="guide-microprofile-config.war"
    contextRoot="/" />
</server>
