<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.0</feature>
    <feature>jsonp-1.0</feature>
    <feature>cdi-1.2</feature>
    <!-- tag::config[] -->
    <feature>mpConfig-1.1</feature>
    <!-- end::config[] -->
  </featureManager>

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true" />

  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
    id="defaultHttpEndpoint" />

  <webApplication location="io.openliberty.guides.microprofile.mpconfig.war"
    contextRoot="/" />

</server>
